.container {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 250px;
    border: solid 2px black;
    border-radius: 20px;
    background-color: antiquewhite;
    padding: 10px;
    box-shadow: 0 0 20px lightblue;
    margin-top: 10px;
    margin: 5px;
    
  }

  .container:hover{
    transform: scale(1.1);
  }

.buttonContainer{
    display: flex;
    justify-content: flex-end;
}

.button {
    border-radius: 10px;
    margin: 10px 10px 0 0;
    border: none;
    background-color: rgb(38, 38, 142);
    color: aliceblue;
}

.button:hover{
    cursor: pointer;
    transform: scale(1.1);
}

img{
    border-radius: 10px 10px 0 0;
    width: 200px;
}

.imageContainer{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 10px;
    align-items: center;
}

.name{
    background-color: lightblue;
    position: absolute;
    margin-bottom: 0px;
    border-radius: 5px;
    
}

.propsContainer{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    margin: 0px;
    color: lightblue;
    border-radius: 20px;
}

.propsContainer h2{
    margin: 3px;
}